.places-heading{
  text-align: center;
  padding: 2rem 0 2rem 0;
}

.places-container{
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding-bottom: 5rem;
  justify-content: center;
  align-items: center;
}

.card-title{
  position: absolute;
  top: 80%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
}


.gallary-card{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 5px;
}


.gallary-card img{
  height: 100%;
  width: 100%;
}

@media screen and (max-width:1445px) {
  .places-container{
      max-width: 80%;
      margin: auto;
      grid-template-columns: repeat(2, 1fr);
      
  }
}
@media screen and (max-width:1110px) {
  .places-container{
      max-width: 80%;
      margin: auto;
      grid-template-columns: 1fr;
      
  }
}

