.tour-heading{
    text-align: center;
    padding: 2rem 0 2rem 0;
}

.tour-container{
    width: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-bottom: 5rem;
}

.tour-card{
    padding: 1.2rem 1rem; 
}

.tour-card img{
    width: 100%;
}

.tour-title{
    color: #fff;
    padding: 1rem 0;
}
.tour-details p{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

.pro-btns{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.pro-btns .btn{
    padding: 0.5rem 1rem;
}

@media screen and (max-width:740px) {
    .tour-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}